.recomendFriend{
    display: flex ;
    justify-content: space-between;
    h2{
        font-size: 14px;
        color :#999;
        line-height: 16px;
        
    }
}
.flex-column{
    display: flex;
    flex-direction: column;
}